<!-- Static Index Page -->

<div id="landing_page_image">
	<img src="/assets/background_landing.png">
</div>
<div class="col-xs-10 col-xs-offset-1 text-center">
	<div class="lpage_header">
		<h1>Intergalactic Battleship</h1>
	</div>
</div>
<div class="col-xs-10 col-xs-offset-1 text-center">
	<div class="col-sm-6">
		<%= link_to new_game_path do %>
			<h2>New Game</h2>
			<h3>(Player 1)</h3>
		<% end %>
	</div>
	<div class="col-sm-6">
		<%= link_to games_path do %>
			<h2>Join a Game</h2>
			<h3>(Player 2)</h3>
		<% end %>
	</div>
</div>

