
<h1 class="text-center"> Place your Sith ships! </h1>
<p class="text-center" id="inst">Click and drag the ships to the grid. <br/>
   Click on ship to position it horizontally or vertically.</p>


