
/* Master Style Sheet */

.clear {
  clear:both;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0px;
	background-color: black;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

#landing_page_image img {
	max-width: 100%;
	max-height: 100%;
}

body {
	background-color: black;
}

.lpage_header h1 {
	font-family: 'source_sans_probold', sans-serif;
	color: yellow;
	margin-top: -20px;
	text-align: center;
	font-size: 80px;
}

h2 {
	font-family: 'source_sans_probold', sans-serif;
	color: white
}

a, p {
	font-family: 'source_sans_problack', sans-serif;
}

a:hover {
	text-decoration: none;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0; 
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px; 
}

h1 {
  color: white
}

.name {
  margin-top: 10px;
}

.usr-img {
  width: 130px;
  margin: 0 auto;
}

#s-email {
  margin-top: 30px;
}

#j-email {
  margin-top: 40px;
}

.jedi-btn {
  margin-top: 40px;
}

.sith-btn {
  margin-top : 50px;
}


